.account-content-container {
  width: 80%;
  max-width: 100%;
  margin: 7rem 15% 0 15%;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.account-title {
  width: 100%;
  color: #000;
  font-size: 3vh;
  font-weight: 400;
}

.account-card {
  margin-top: 20px;
  padding: 2vh;
  border: 1px rgba(128, 128, 128, 0.24) solid;
}

.account-icon-inner {
padding-left: 5px;
}

.ant-card-head {
  padding-left: 5px;
}

.ant-card-head-wrapper {
  display: flex;
  justify-content: flex-start;
  font-weight: 900;
}

.ant-card-body {
  padding: 0px 0px 0px 5px;
  /* padding-left: 5px; */
}

.fa-address-card, .fa-envelope {
  height: 45px;
  width: 45px;
  padding-right: 0px;
  /* padding-left: 25px; */
}
