.host-card {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  /* padding: 0px 40px; */
  height: 300px;
  width: 500px;
}

.host-name {
  font-family: "Bebas Neue", cursive;
  color: #ffff;
  font-size: 16px;
}

.host-city-state {
  color: #ffff;
  font-size: 12px;
}
