.browsed-hosts {
  height: 400px;
  width: 240px;
  padding-bottom: 2px;
  box-shadow: 2px 2px 7px grey;
}

.host-name, .somm, .mix, .host-city-state {
  font-family: "Bebas Neue", cursive;
  color: white;
}

.host-name-type {
  display: flex;
  justify-content: space-evenly;
}

.title {
  display: flex;
  justify-content: center;
}

.host-result-btns {
  display: flex;
  justify-content: center;
  overflow: scroll;
  /* height: 400px;   
  width: 240px; */
}

.host-type {
  display: flex;
  justify-content: flex-start;
}

.add-host {
  display: flex;
  justify-content: center;
}
