.host-card {
  display: flex;
  /* background-image: url("../../assets/images/pexels-fauxels-3184183.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;

  justify-content: center;
  /* align-items: flex-start; */
  /* padding: 0px 40px; */
  height: 300px;
  width: 500px;
}

.host-name {
    /* justify-content: flex-end; */
  font-family: "Bebas Neue", cursive;
  /* color: #f9fbf2; */
  font-size: 2vh;
}
