.userNavBar-btn {
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

.userNavBar-btn:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #000000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.userNavBar-btn:hover:after {
  width: 100%;
  left: 0;
  color: #000000; 
}

.userNavBar-btn {
  font-family: "Bebas Neue", cursive;
  color: #000000;
}

.userNavBar-btn:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #000000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.userNavBar-btn:hover:after {
  width: 100%;
  left: 0;
}


