.host-btn {
  font-family: "Bebas Neue", cursive;
  color: #f9fbf2;
}

.host-btn:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.host-btn:hover:after {
  width: 100%;
  left: 0;
}

.event-btn {
  font-family: "Bebas Neue", cursive;
  color: #f9fbf2;
}

.event-btn:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.event-btn:hover:after {
  width: 100%;
  left: 0;
}
