.events-container {
    display: flex;
    justify-content:space-evenly;
}

.left-search-box {
    width: 50vh;
}

.right-results-box {
    width: 50vh;
    justify-content: center;
}
/* .left-search-box {
    width: 100%;
} */

.form_title {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 20px;
    color: rgb(116, 116, 116);
  }
  
  input[type="text"],
  input[type="password"],
  input[type="date"],
  select {
    font-family: "Nanum Gothic", sans-serif;
    width: 300px;
    padding: 0vh 1vh;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    width: 25%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  select {
    color: rgb(157, 163, 174);
    height: 27px;
  }
  
  ::placeholder {
    color: rgb(226, 160, 102, 0.5);
  }
  
  .reserve-btn {
    background-color: transparent;
    border: 2px solid #e7e7e7;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 12px;
    color: rgb(116, 116, 116);
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  .reserve-btn:hover {
      color: white;
      background-color: #7b7263;
  }
  