.personal-details {
  margin-top: 15px;
}

.details-content-container {
  width: 80%;
  max-width: 100%;
  margin: 7rem 15% 0 15%;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.breadcrumb {
  padding-bottom: 20px;
}

.details-name {
  display: flex;
  flex-direction: column;
}

.first-last-name-forms {
  display: flex;
}

.details-name-input {
  font-family: "Montserrat", sans-serif;
}

.full-name-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-title {
  width: 100%;
  color: #000;
  font-size: 3vh;
  font-weight: 400;
}

.details-inner-main {
  width: 50%;
}

.details-inner-main {
  margin-top: 50px;
}

.full-name {
  width: fit-content;
  font-weight: 900;
}

.name {
  width: fit-content;
}

.edit-name {
  width: fit-content;
}

.line-break {
  margin-top: 10px;
  border-bottom: 1px solid rgba(224, 224, 224, 0.185);
}
