.events {
  display: flex;
}

.main-event-date {
  margin-left: 1vh;
}

.event-list {
  display: flex;
  justify-content: flex-start;
}

.delete-button {
  margin: 0px 0px 0px 0px;
  border: 1px solid red;
  font-size: 1vh;
}
