.events {
    display: flex;

}

.main-event-date {
    margin-left: 1vh;
}

.event-list {
    display: flex;
    justify-content: flex-start;
}

.delete-button {
    
    border: 1px solid red;
    font-size: .75vh;
}