.faq-main {
  display: flex;
  flex-direction: column;
}

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq-questions {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 35%;
}

.faq-who-text {
  display: flex;
  align-items: center;
  /* margin-top: 100px; */
  /* width: 35%; */
}

h3 {
  font-weight: bold;
}
