input[type="text"], input[type="password"],
select {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 25%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

::placeholder {
  color:rgb(226, 160, 102, 0.5)
}

.form_text {
  font-family: "Montserrat", sans-serif;
  color: rgb(226, 160, 102);
}

.form_title {
  font-family: "Bebas Neue", cursive;
  color: rgba(248, 209, 174);
}

.form_link {
  text-decoration: none;
  border: 1px solid rgb(226, 160, 102)
}

.form_link:visited {
  color: rgb(226, 160, 102);
}

.form_link:hover {
  border-bottom: 1px solid rgb(226, 160, 102);
}
