.entire-card {
  background-color: rgb(255, 250, 246);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 6.5vh
}

.middle-bar {
  display: flex;
  justify-content: space-between;
}

.event-form {
  margin: 2vh 0vh 0vh 2vh
}

.date {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 900;
  color: #ffff;
  font-size: 2.5vh;
  font-style: italic;
  margin-left: 2vh;
}

.userName {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 900;
  color: #ffff;
  font-size: 2vh;
  font-style: italic;
  margin-right: 2vh;
}

.event-form {
  height: 35vh;
  width: 50vh
}
