/* body {
  margin: 0;
} */
.wrapper {
  display: flex;
  height: 20vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button {
  border: 1px transparent;
  border-radius: 10vh;
  cursor: pointer;
  display: inline-block;
  font-family: 'Bebas Neue', cursive;
  color: #ffffff;
  font-size: 9vh;
  font-weight: 800;
  text-decoration: inherit;
  text-decoration: none;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  margin-left: 20px;
  animation: glowing 2000ms infinite;
}

@keyframes glowing {
  0% {
    color: #ffffff;
    text-shadow: 0 0 2px #ffffff;
  }
  50% {
    color: #feffec;
    text-shadow: 0 0 10px #feffec;
  }
  100% {
    color: #feffe6;
    text-shadow: 0 0 2px #feffe6;
  }
}
