/* font-family: 'Nanum Gothic', sans-serif;

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: left;
}

li a {
  font-family: 'Nanum Gothic', sans-serif;
  display: block;
  color: rgb(158, 157, 157);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  Border-bottom: 1px solid rgb(158, 157, 157);
  /* background-color: #111; */
/* } */ 

* {box-sizing: border-box;}

/* body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
} */

.topnav {
 list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

.topnav a {
  font-family: 'Nanum Gothic', sans-serif;
  display: block;
  color: rgb(158, 157, 157);
  text-align: center;
  text-decoration: none;
  float: left;
  text-align: center;
  padding: 14px 16px;
  font-size: 1.25vh;
}

.topnav a:hover {
  Border-bottom: 1px solid rgb(158, 157, 157);
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
