.navBar {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 100vw;
  height: 6vh;
  background-color: #f4976c
}

.logo {
  font-family: "Bebas Neue", cursive;
  color: #fbe8a6;
  font-size: 5vh;
  margin-left: 1vh;
}

.todays-date {
  font-family: "Bebas Neue", cursive;
  color: #fbe8a6;
  font-size: 2.5vh;
  margin: auto;
}

/* .profile {
  margin-right: .5vh;
} */

.create-event-button {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1.5vw;
}

.create-event-button:hover {
  background-color: #ffbea05d;
}

.create-text {
  color: #303c6c;
  font-size: 1.5vh;
}
