body {
  margin: 0px 0px 0px 0px;
}

.navBar-bg {
  background-color: rgba(248, 209, 174)
}

.wp-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0px 0px 0px 0px; */
  /* width: 100%; */
  color: white;
  height: 100%;
  background-color: rgba(248, 209, 174);
  font-family: "Bebas Neue", cursive;
  font-size: 9vh;
  font-weight: 800;
}
