.random-host-container {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
}

.random-host-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 5%;
  height: 250px;
  width: 240px;
  box-shadow: 1px 1px 1px grey;
}

.hosts {
  border-radius: 5%;
}

.title {
  display: flex;
  justify-content: center;
}

.host-result-btns {
  display: flex;
  overflow: scroll;
  height: 100%;
  width: 100%;
}

.host-type {
  display: flex;
  justify-content: flex-end;
}

.host-city-state-name-type {
  border-radius: 0% 0% 20% 20%;
  /* grid-area: user4; */
  white-space: nowrap;
  font-size: 0.75rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.348);
}

.host-name-type-container {
  display: flex;
  justify-content: space-between;
}

.city-state {
  padding-left: 5px;
}

.add-host {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-right: 5px;
}

.host-card-grid {
  display: grid;
  width: 100%;
  grid-template-areas:
    "cityState .  . . rating"
    "name . . . host-type"
    "add add  add add add";
}

.host-name {
  padding-left: 5px;
  grid-area: name;
  white-space: nowrap;
  color: white;
  font-size: 0.75rem;
  /* background-color: rgba(255, 255, 255, 0.199); */
}

/* .add-host {
  grid-area: add;
  white-space: nowrap;
  font-size: 0.75rem;
  color: white;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
} */

.host-type {
  border-radius: 5%;
  grid-area: host-type;
  white-space: nowrap;
  font-size: 0.75rem;
  color: white;
  /* background-color: rgba(255, 255, 255, 0.199); */
}

.rating {
  grid-area: rating;
  white-space: nowrap;
  font-size: 0.75rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.about-QandA-container {
  margin-left: 3vw;
  display: flex;
  /* flex-direction: column; */
  /* justify-content:center; */
  /* align-items:baseline; */
}

.host-QandA {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.question1, .question2 {
  font-size: 1.5vh;
  margin-top: 1vh;
}

.answer {
  margin-top: 1vh;
  font-size: 1.5vh;
}


