.reserve-btn {
  background-color: transparent;
  border: 2px solid #e7e7e7;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1.25vh;
  color: rgb(116, 116, 116);
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  transition-duration: 0.4s;
}

.reserve-btn:hover {
  color: white;
  background-color: #7b7263;
}

/* .searchInput {
  height: 50px;
  width: 100%;
  border: 1px solid gray
} */
