.host-near {
    margin-top: 15px;
}

.hosts {
    display: flex;
    /* justify-content: center; */
    justify-content: flex-end;
}

.host-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* align-items: center; */
    height: 400px;
    width: 240px;
    padding-bottom: 2px;
    box-shadow: 2px 2px 7px grey;
}

.host-name-type {
    display: flex;
    /* justify-content: space-evenly; */
}

.title {
    display: flex;
    justify-content: center;
}

.host-result-btns {
    display: flex;
    /* justify-content: center; */
    overflow: scroll;
    height: 100%    ;
    width: 100%;
}

.host-type {
    display: flex;
    justify-content: flex-start;
}

.add-host {
    display: flex;
    justify-content: center;
}
