html {
  background: url("../../images/pexels-cottonbro-3171837.jpg") no-repeat center
    center fixed;
  background-size: cover;
}

.splash-flex-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 25vh 13vh 0vh 0vh;
}

.text-link {
  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 9vh;
  font-weight: 800;
  text-decoration: inherit;
  text-decoration: none;
}



