.tasting-content-container {
  width: 80%;
  max-width: 100%;
  margin: 7rem 15% 0 15%;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.tasting-title {
  margin-top: 17vh;
  width: 100%;
  color: #000;
  font-size: 3vh;
  font-weight: 400;
}

.wine-tasting-img {
  margin: 7vh 20vh 0vh 0vh;
}

.tasting-content {
  margin-top: 10vh;
  width: 83%;
}

.tasting-section-title {
  margin-bottom: 1vh;
  margin-top: 5vh;
  font-size: 2vh;
  font-weight: 900;
}
