.userHome-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.user-home-image-container {
  height: 100vh;
  background-color: #000;
  width: 100%;
}

.user-home-image-inner {
    filter: grayscale(50%) contrast(175%);
    margin-top: 7.5vh;
    height: 75%;
    width: 100%;
    background-image: url("../../assets/images/pexels-askar-abayev-5638747.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }