/*Desktop View*/
.user-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 40px;
  height: 25vh;
  width: 100%;
}

.background-image {
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
}

.logout {
  padding-left: 63vw;
}

.search-form {
  display: absolute;
  margin-top: 0px;
  height: 0vh;
}

.form {
  position: relative;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 50px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
  background: #fff;
  transition: all 0.3s ease;
}

/* .search-input {
  font-family: "Bebas Neue", cursive;
  position: absolute;
  top: 17px;
  left: 38px;
  font-size: 15px;
  background: none;
  color: #5a6674;
  width: 250px;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;
} */

.search-check {
  font-family: "Bebas Neue", cursive;
  color: #9ba5b1;
}

.search-button {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}

svg {
  padding-right: 0.5vh;
  width: 20px;
  height: 20px;
  fill: #656c74;
}

.search-option {
  position: absolute;
  /* text-align: right; */
  top: 5px;
  right: 15px;
}

span {
  margin-left: 3px;
  /* color: #b7c0ca; */
}

.user-logo-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-logo-container {
  font-family: "Bebas Neue", cursive;
  color: #f9fbf2;
  font-size: 6vh;
}
.date {
  width: 45px;
  height: 45px;
}

.menu {
  /* align-items: ; */
  font-family: "Bebas Neue", cursive;
  /* color: #f9fbf2; */
}

.nav-options {
  padding-left: 25px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 50px;
  list-style-type: none;
}
.mobile-option {
  display: none;
}

/* .option:hover {
    color: rgb(148, 148, 148);
    border-bottom: 1px #f9fbf2;

  } */

.mobile-hover {
  color: #ffede1;
}

.signin-up {
  display: flex;
  padding: 0px 5px;
  list-style-type: none;
}

.sign-in {
  padding-right: 10px;
  align-self: center;
}
.sign-in:hover {
  background-color: rgb(44, 44, 44);
}
.signup-btn {
  padding: 10px 10px;
  height: 2.4rem;
  border-radius: 3px;
  /* background: rgb(222, 9, 241); */
  color: white;
  cursor: pointer;
  align-items: center;
}
.mobile-menu {
  display: none;
}

@media (max-width: 648px) {
  /*Mobile View */
  .header {
    padding: 0px 10px;
  }
  
  .logo {
    width: 45px;
    height: 45px;
  }
  .nav-options {
    display: flex;
    width: 100%;
    height: 350px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }
  
  .nav-options.active {
    background: #000000;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
  }

  .menu-icon {
    width: 45px;
    height: 45px;
  }

  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    padding: 30px 0px;
  }

  .sign-up {
    /* background-color: #afcbff; */
    border-radius: 3px;
    /* color: #0e1c36; */
    padding: 20px 0px;
    width: 80%;
    align-self: center;
    border-radius: 3px;
  }

  .signin-up {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}
