/* font-family: 'Bebas Neue', cursive; */

body {
  background-color:rgba(248, 209, 174);
}

.main-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}

.logo {
  /* display: flex; */
  /* align-self: flex-start; */
  width: 33.3vh;
  font-family: "Bebas Neue", cursive;
  font-size: 5vh;
  color: white;
  padding: 0vh 0vh 0vh 2vh;
  /* margin: 0vh 33.3vh 0vh 33.3vh; */
  text-shadow: 2px 2px rgba(126, 110, 97, 0.5);
}

.center-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.date-bar {
  display: flex;
  width: 100%;
  font-family: 'Bebas Neue', cursive;
  font-size: 5vh;
  font-style: italic;
  color: white;
  justify-content: space-between;
}


.homeCard {
  height: 85vh;
  width: 100%;
  background-color: white;
  border: transparent;
  /* border-radius: 0.5%; */
  box-shadow: 1px 1px 50px 3px rgb(126, 110, 97);
}

.logout {
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1.25vh;
  color: white;
  /* border: 1px solid white; */
  /* height: 3vh; */
  width: 33.3vh;
  margin: 2vh 5vh 0vh 0vh;

}
